@charset "ISO-8859-1";

header{
	width: 100%;
	height: 10vh;
	display: flex;
	padding: 0 5%;
	color: #FFF;
	justify-content: space-between;
	align-items: center;
	background-color: #031E3B;
}


.row-cards{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-caminho{
	width: 40%;
	border:	var(--bs-card-border-width) solid var(--bs-card-border-color);
	border-radius: var(--bs-border-radius);
}

.card{
	width: 90%;	
}


.card-table{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.mb-5{
	margin: 0;
	display: flex;
	justify-content: center;
}
main{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

