main {
	height: 100vh;
	width: 100%;
	
}

.container-login{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
 } 
.container-image{
	width: 50%;
	height: 100%;
	background-color: #031E3B;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.logo-sumare-login{
	width: 70%;
}
.img-login{
	width: 120%;
}
 
.container-form{
	gap: 5%;
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center
}

form{
	width: 90%
}

.reveal{
	width: 10%;
}

.form-control{
	width: 100%;
}

.logo-sumare {
	width: 15%;
	cursor: pointer;
}

.reveal {
	border: solid 1px #c0c0c0;
}

.container-btns {
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

header{
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #031E3B;
}
.container-section {
	padding: 2%;
	width: 100%;
	height: 90vh;
}

.card-table {
	width: 100%
}

#cardContainer{
	display: flex;
	flex-direction: row;
	gap: 1%; 
}


@media screen and (max-width: 1279px) {
	.logo-sumare {
		width: 20%;
	}
	.school-card{
		width: 100%;
	}
}

@media screen and (max-width: 425px) {
	.logo-sumare {
		width: 50%;
	}
	.reveal{
	 	width: 25%;
	}
	
	.form-check-label{
		font-size: .8rem;
	}
	.school-card{
		width: 100%;
	}
}